/** Estilos Globales **/
body{
    background-color: #f8f8f8;
}

.encabezado{
    font-size: 2.8rem;
    font-family: 'Lato', sans-serif;
    line-height: 2.4rem;
}

.encabezado span{
    font-size: 3.4rem;
    font-family: 'Italianno', cursive;
    color: #e082a8;
}

/** Sociales **/
.sociales ul {
    list-style: none;
    margin:0;
    padding:0;
}

.sociales ul li {
    position: relative;
    display: inline-block;
}

.sociales ul li a{
    color: #e082a8;
    font-size: 1.6rem;
    transition: color .3s ease-in-out;
}

.sociales ul li a:hover{
    color: #df5e92;
}

.sociales ul li{
    margin-right: .8rem;
}

.sociales ul li:last-of-type{
    margin-right: 0;
}

/** Navegacion Principal **/
.navegacion{
    background-color: #8ed3cc;
}

.navbar-light .navbar-toggler{
    background-color: #fff;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'Italianno', cursive;
    color: #e082a8;
}

.navegacion_principal{
    background-image: url(../img/border_horizontal.png),
                      url(../img/border_horizontal.png);
    background-repeat: repeat-x;
    background-position: 0px top, 0px bottom;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    transition: color .3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #e082a8;
}

/** Carousel Caption **/
.carousel-caption h3{
    font-family: 'Raleway', sans-serif;
    font-size: 2.1rem;
    font-weight: 900;
}

/** Seccion Nuevo Sitio **/
.new-site p{
    font-family: 'Lato', sans-serif;
    color: #979797;
    font-size: 1.7rem;
}

/** Seccion Servicios **/
.imagen-servicio img{
    border: 6px solid #fff;
    transition: transform .3s ease-in-out;
}

.imagen-servicio img:hover{
    transform: scale(1.1);
}

.servicio-info{
    background-color: #fff;
    margin-top: -5rem;
}

.servicio-info .btn-primary{
    border-radius: 0;
    border: none;
    background-color: #e082a8;
    transition: background-color .3s ease-in-out;
}

.servicio-info .btn-primary:hover{
    background-color: #df5e92;
}